@import "tailwindcss";

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  background-color: #f8fafc;
  color: #0f172a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}

@utility text-miui-white {
  color: transparent !important;
  background-image: linear-gradient(to right, #ffffff, #ffffff) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
}

@utility text-miui-slate-400 {
  color: transparent !important;
  background-image: linear-gradient(to right, #94a3b8, #94a3b8) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
}

@utility placeholder-miui-slate-600 {
  &::placeholder {
    color: transparent !important;
    background-image: linear-gradient(to right, #475569, #475569) !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
  }
}
